.fade-enter-active,
.fade-leave-active {
  transition: opacity 1.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.seperate {
  text-shadow: 0 0 hsl(0, 0%, 44%), 0 0 hsl(0, 0%, 53%);
  transform: translateX(0) translateY(0);
  animation: seperate;
  animation-duration: 3s;
  animation-delay: 0s;
}

@keyframes seperate {
  from {
    text-shadow: 0 0 hsl(0, 0%, 44%), 0 0 hsl(0, 0%, 53%);
    transform: translateX(0) translateY(0);
  }
  to {
    text-shadow: 4px 4px hsl(0, 0%, 30%), 8px 8px hsl(0, 0%, 70%);
    transform: translateX(-10px) translateY(-10px);
  }
}
