@mixin flexCenter($dir, $al) {
  display: flex;
  justify-content: space-between;
  align-items: $al;
  flex-direction: $dir;
}

@mixin light {
  background-color: rgb(227, 227, 227);
  color: $text-dark;
}

@mixin dark {
  background-color: rgb(28, 28, 28);
  color: $text-light;
}

@mixin menu($bg) {
  color: $text-dark;
  height: 800px;
  background: $bg;
  padding: 5rem 10rem;
}
