@mixin flexCenter($dir, $al) {
  display: flex;
  justify-content: space-between;
  align-items: $al;
  flex-direction: $dir;
}

@mixin light {
  background-color: rgb(227, 227, 227);
  color: $text-dark;
}

@mixin dark {
  background-color: rgb(28, 28, 28);
  color: $text-light;
}

@mixin menu($bg) {
  color: $text-dark;
  height: 800px;
  background: $bg;
  padding: 5rem 10rem;
}

@mixin underLay {
  transition: 1s;
  padding: 2rem;
  text-align: center;
  width: 576px;
  height: 384px;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%) translateY(-50%) translateX(20px) translateY(20px);
}
