$linear: linear-gradient(
  175deg,
  rgba(224, 224, 224, 1) 75%,
  rgba(28, 28, 28, 1) 75%
);

$linear-reverse: linear-gradient(
  175deg,
  rgba(28, 28, 28, 1) 25%,
  rgba(224, 224, 224, 1) 25%
);

$text-light: #e0e0e0;
$text-dark: #1f1f1f;

$box-shadow-dark: 0px 0 10px 3px #000000;
