@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@500&family=Lexend:wght@500&display=swap');
@import './variables';
@import './mixins';
@import './animations';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.4;
  background-color: rgba(224, 224, 224, 1);
  font-family: 'Lexend', sans-serif;
}

.body {
  transition: 1s;
  position: relative;
}

.dark {
  @include dark;
}

.light {
  @include light;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}

hr {
  margin: 5rem 0;
}

nav {
  @include menu($linear);
  > h1 {
    transition: 1s;
    font-size: 3rem;
    margin-top: 6rem;
    text-shadow: 4px 4px hsl(0, 0%, 30%), 8px 8px hsl(0, 0%, 70%);
    transform: translateX(-10px) translateY(-10px);
    text-transform: uppercase;
  }
}

.nav_bar {
  @include flexCenter(row, flex-start);
}

.profile_img_wrapper {
  position: relative;

  .profile {
    display: block;
    margin: 0 auto;
    width: 60%;
    transition: 1s;
    position: relative;
    z-index: 500;
  }

  .underlay_1 {
    @include underLay;
    background-color: hsl(0, 0%, 30%);
    transform: translateX(-50%) translateY(-50%) translateX(10px)
      translateY(10px);
    z-index: 250;
  }

  .underlay_2 {
    @include underLay;
    background-color: hsl(0, 0%, 70%);
    transform: translateX(-50%) translateY(-50%) translateX(20px)
      translateY(20px);

    z-index: 50;
  }

  .animate_card_1 {
    transform: translateX(200px) translateY(530px) !important;
    box-shadow: $box-shadow-dark
  }
  .animate_card_2 {
    color: $text-dark;
    transform: translateX(-800px) translateY(530px) !important;
    box-shadow: $box-shadow-dark
  }
}

.img_section {
  @include flexCenter(column, center);

  .icon_list {
    width: 100%;
    margin-top: 5rem;
    @include flexCenter(row, center);
  }
}

.icon {
  width: 200px;
  img {
    width: 50%;
    display: block;
    margin: 0 auto;
    height: auto;
    filter: grayscale(100%);
    transition: 0.7s;
  }
}

.overlay {
  position: absolute;
  width: 100%;
  bottom: -400px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card_single {
  @include light;
  padding: 1rem;
  width: 100%;
  height: 300px;
  text-align: center;
  transition: 0.5s ease-in-out;
  @include flexCenter(column, center);
  box-shadow: $box-shadow-dark
}

footer {
  @include menu($linear-reverse);
  @include flexCenter(row, flex-end);
}

.icon_show_wrapper {
  display: flex;
  width: 100%;

  .line {
    width: 50%;
    height: 2px;
    background-color: $text-light;
    margin-top: 1.5rem;
    &:first-of-type {
      margin-left: -150px;
    }
    &:last-of-type {
      margin-right: -150px;
    }
  }
  .icon_title {
    width: 50%;
    text-align: center;
    text-shadow: 4px 4px hsl(0, 0%, 30%), 8px 8px hsl(0, 0%, 13%);
  }
}

#about {
  margin: 10rem 0;
  padding: 15rem;
  background: rgb(28, 28, 28);
  background: linear-gradient(
    150deg,
    rgba(28, 28, 28, 1) 50%,
    rgba(224, 224, 224, 1) 50%,
    rgba(224, 224, 224, 1) 50%,
    rgba(28, 28, 28, 1) 50%
  );

  transition: 10s;
  .text {
    color: rgba(28, 28, 28, 1);
    line-height: 2rem;
    font-size: 18px;
    transition: 1s;
  }
  h2 {
    padding-top: 2.5rem;
    color: rgba(28, 28, 28, 1);
  }
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.card_container {
  @include flexCenter(row, center);
  height: 500px;
}

.card {
  background-color: rgb(54, 54, 54);
  padding: 1rem;
  color: $text-light;
  width: 100%;
  margin: 0 2rem;
  height: 500px;
  text-align: center;
  transition: 0.5s ease-in-out;
  @include flexCenter(column, center);
  box-shadow: $box-shadow-dark

  &:hover {
    box-shadow: 0px 0 10px 3px rgb(54, 54, 54);
    transform: scale(1.03);
    @include light;
  }
}

.hide {
  display: none;
}

.show {
  animation: show 2s;
}

// .rotate {
//   animation-name: rotate;
//   animation-duration: 3s;
//   animation-iteration-count: 1;
// }

.flex_center {
  @include flexCenter(row, center);
}

.about {
  @include flexCenter(row, center);
}

@keyframes show {
  from {
    transform: scale(0.5);
    opacity: 0.5;
    pointer-events: none;
  }

  to {
    transform: scale(1);
    opacity: 1;
    pointer-events: all;
  }
}

@keyframes rotate {
  from {
    transform: rotate3d(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
